doctype html
html(lang='en')
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main
      .box-form.center
        form(action='/user-login' method='POST')
          label(for='email') Email:
          input(type='text' name='email')
          label(for='password') Password:
          input(type='password' name='password')
          .row.pt-20
            .column
              input(type='hidden' name='csrf' value=csrfToken)
              input(type="submit", value="Login")
            .column
              .button-link
                a(href='/profile') Cancel
    include ../includes/footer.pug