doctype html
html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main.main_content
      .box-form.center
        form(action=(editMode === 'true' ? '/admin/edit-book' : '/admin/add-book') method='POST')
          label(for='title') Title:
          input(type='text' name='title' value=(editMode === 'true' ? book.title : ''))
          label(for='author') Author:
          input(type='text' name='author' value=(editMode === 'true' ? book.author : ''))
          if editMode === 'true'
            input(type='hidden' name='id' value=book._id)
          .row
            .column
              input(type="submit", value="Save")
            .column
              .button-link
                a(href='/admin/manage-book') Cancel
    include ../includes/footer.pug