doctype html
html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main
      div
        a.table-button(href='/admin/manage-book/add' style='float: right')  Add a Book
      if bookList.length > 0
        table
          tr
            th Title
            th Options
          each book in bookList
            tr
              td= book.title
              td
                a.table-button(href=('/admin/manage-book/edit/' + book._id)) Edit
                a.table-button(href=('/admin/manage-book/delete/' + book._id)) Remove
      else
        h2 Books not found
    include ../includes/footer.pug