doctype html
html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main
      if userList.length > 0
        table
          tr
            th Username
            th Email
            th Books
          each user in userList
            tr
              td= user.username
              td= user.email
              td 
               ul
                each book in user.books
                  li= book.id.title + ' ('+ book.id.author + ')'
      else
        h2 Users not found
    include ../includes/footer.pug