doctype html
html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main
      if bookList.length > 0
        table
          tr
            th Title
            th Options
          each book in bookList
            tr
              td= book.title
              td
                form(action="/book-remove", method="POST") 
                  a(href=('/book/detail/' + book.id)) Details
                  input(type='hidden' name='bookId' value=(book.id))
                  a(href='')
                    button.clean-style(type='submit') Remove
      else
        h2 Books not found
    include ../includes/footer.pug