header.main_header
  nav.main_header__nav
    ul.main_header__list
      li.main_header__item
        a.active(href='/') Book Manager |
      li.main_header__item
        a(href='/' class=(route === '/' ? 'active' : '')) Home
      li.main_header__item
        a(href='/admin/home' class=(route === '/admin' ? 'active' : '')) Admin
      li.main_header__item
        a(href='/user/home' class=(route === '/user' ? 'active' : '')) User
      if isAuthenticated
        li.main_header__item.align_right
          a(href='/login' class=(route === '/login' ? 'active' : '')) Logged In
      else
        li.main_header__item.align_right
          a(href='/login' class=(route === '/login' ? 'active' : '')) Login