header.main_header
  nav.main_header__nav
    ul.main_header__list
      li.main_header__item
        a(href='/' class=(route === '/' ? 'active' : '')) Home
      li.main_header__item
        a(href='/book' class=(route === '/book' ? 'active' : '')) Book