doctype html
html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    main
      if bookList.length > 0
        each book in bookList
          .book-card
            h2= book.title
            a(href=('/book/' + book.id))
              button Details
      else
        h2 Books not found
    include ./includes/footer.pug