doctype html
html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    main
      if errorCode === 500 
        p We're sorry for that... It will be fixed as soon as possible!
      else
        p The page you're looking for does not exist.
    include ./includes/footer.pug