doctype html
html(lang='en')
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    main.main_content
      h2 Welcome to Book Manager!
      p What would you like to do?
      div
        a(href="book/add") 
          button Add a Book
        a(href='book/remove') 
          button Remove a Book
        a(href='book/manage') 
          button Manage Book status
        a(href='book/list') 
          button List my Books
        a(href='book/find') 
          button Find books
    include ./includes/footer.pug