doctype html
html(lang='en')
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    main
      .box
        .row
          .column
            a.clean-style(href='admin/home')
              .card
                h3 Admin
                p Administrator activities
          .column
            a.clean-style(href='user/home')
              .card
                h3 User
                p User activities           
    include ./includes/footer.pug