.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover, .topnav a.split:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.highlight {
  background-color: #78a7ff;
  color: black;
  font-weight: bold;
}

.topnav a.split {
  float: right;
  color: white;
}

.active {
  font-weight: bold;
}
