.main_header {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

.main_header__nav {
  padding: 10px 0 10px 0;
}

.main_header__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.main_header__item a {
  padding: 0 10px 0 10px;
  color: white;
  text-decoration: none;
}

.align_right {
  position: fixed;
  right: 20px;
}

.main_header__item a img {
  position: fixed;
  right: 20px;
  width: 20px;
  height: 20px;
}

.active {
  font-weight: bold;
}