body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(232, 232, 232);
}

main {
  padding: 20px;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
  height: 200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.custom-link {
  text-decoration: none;
  color: black;
}

.container {
  padding: 2px 16px;
}

.form-card {
  padding: 20px 30px 40px 30px;
  margin: 30px auto 30px auto;
  width: 52%;
  border-style: solid;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
}

.form-submit {
  padding-top: 30px;
}

.book-card {
  padding: 20px 30px 40px 30px;
  margin: 30px auto 30px auto;
  width: 25%;
  border-style: solid;
  border-radius: 20px;
}

td {
  padding: 10px 20px 10px 20px;
}

td a {
  text-decoration: none;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  border-style: solid;
}

.clean-style {
  border: none;
  background: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: black;
}
