body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

main {
  padding: 20px;
}

.form-card {
  padding: 20px 30px 40px 30px;
  margin: 30px auto 30px auto;
  width: 52%;
  border-style: solid;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;  
}

.form-submit {
  padding-top: 30px;
}

.book-card {
  padding: 20px 30px 40px 30px;
  margin: 30px auto 30px auto;
  width: 25%;
  border-style: solid;
  border-radius: 20px;  
}