doctype html
html(lang='en')
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main.main_content
      .box
        .row
          .column
            a.clean-style(href='/user/book')
              .card
                h3 My Books
                p Manage my books
          .column
            a.clean-style(href='/user/book/add')
              .card
                h3 Add a Book
                p Add a new book to my list
    include  ../includes/footer.pug